*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1{
    display:block;
}
#banner{
    background-color: forestgreen;
    margin-top: 20px;
    padding-top: .1px;
   
    padding-bottom: .1px;
    text-align: center;
    font-family: helvetica;
    font-size: 32px;
    color: white; 
}

.content{
    display:flex;
    max-width: 1200px;
    padding-top: 20px;
}
.pic1{
    width: 360px;
    height: auto;
    padding-left: 60px;
    padding-right: 20px;
}
.text{
    max-width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    font-family: helvetica;
    font-size: 14px;
    color:darkgrey;
}
