table, th, td{
    border: 1px solid blue;
    border-collapse: collapse;
}
table, tr, th{
    padding: 10px;
    text-align: left;
}
table, tr, td{
    background-color:azure;
    color:black; 
}

th.item1{
    background-color: darkgreen;
    color:white;
}

td.item2{
    background-color: coral;
    color: black;
}

td.item3{
    background-color: crimson;
    color:beige;
}