body{
	background-color: #1a5276;
	font-family:Ariel;
}

div{
	background-color:#D4EFDF;
	border-radius: 50px;
	padding: 20px;
}

h1{
	text-align: center;
}

figure{
	float:right;
}
 p{
	 clear:both;
	 margin-left: 100px;
	 width: 150px;
 }
 
 h2{
	 color: dodgerblue;
 }
 
 table{
	 background-color: #CC9933;
	 color: white;
	 border-radius: 25px;
	 margin-left:auto;
	 margin-right:auto;
 }
 
 table tr th{
	 padding-left: 25px;
	 padding-right: 25px;
 }
 
 table tr td{
	 padding-left:25px;
	 padding-right: 25px;
 }
	 