h1 {
  padding: 0 2.75em .5em;
}

.content {
  width: 100%;
  padding-top: 20px;
  border: 1px solid gray;
}

label {
  float: left;
  width: 11em;
  text-align: right;
}

input {
  margin-left: 1em;
  margin-bottom: .5em;
}
